body {
  background-color: rgb(46, 75, 95);
  font-family: "./fonts/Barlow_Semi_Condensed,Playfair_Display/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf";
  font-size: 1.3em;
  color: rgb(212, 206, 164);
}
.container-fluid{
  background: rgb(87, 127, 156);
  font-size: 15px;
  margin-top: -8px;
  margin-bottom: -8px;
}
.nav-link {
  color: white;
  margin-left: 1%;
}
footer, h2 {
  text-align: center;
}
h1 {
  margin-top: 4%;
  margin-left: 1%;
}
h2 {
  margin-top: 2%;
}
.text-start {
  margin-left: 1%;
  margin-top: 4%;
  text-indent: 2%;
}
.colorWhite, footer, .nav-link{
  color:rgb(251, 249, 249);
  margin-left: 1%;
}
/*.colorNav {
  background: rgb(87, 127, 156);
}*/
.nav-item:hover {
  background: black;
  color: white;
}
#textColor{
  color: white;
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background: black;
  color: white;
}
.dropdown-menu{
  background:rgb(89, 128, 155);
}
#navbarDropdown{
  color: white;
}
#bioColor{
  color: white;
}
#contactColor{
  color: white;
}
.form-control,
.btn {
  background: rgb(46, 75, 95);
  width: 80%;
  color: rgb(212, 206, 164);
  border-radius: 1px;
  border-color: rgb(212, 206, 164);
}
.align-items-start {
  margin-top: -200px;
}
.text-left {
  padding-right: 3%;
  margin-top: 2%;
}
/*.text-center {
  margin-top: 2%;
}*/
.btn {
  margin-top: 4px;
}
.btn:hover {
  background: rgb(181, 220, 241);
}
/* create CSS for modal sheet */

/*#infos{
    position:absolute;
}*/
.footer-margin{
  margin-top: 10%;
}
.formClass{
  margin-left: 2%;
}
.sizeText{
  font-size: 0.8em;
}
/*error modal style */

.textCenter{
  text-align: center;
}
.modal-content{
  background:rgb(153, 198, 230);
  border-color: red;
}
.modal-header{
  display:inline-block;
}
.modal-footer{
  display:inline-block;
}
.compteur{
  background: rgb(101, 130, 151);
  color: rgb(212, 206, 164);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
}
.compteurText{
  background: rgb(101, 130, 151);
  color: rgb(212, 206, 164);
  font-size: 0.6em;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
}
